{% extends './layout.html' %}

{% block title %}To-Do List{% endblock %}

{% block body %}
<h1>To-Do List</h1>

<form method="POST" action="{{url_for('add_task')}}">
    <input type="text" name="task_name" placeholder="Introduce el nombre de la tarea" required>
    <input type="text" name="task_description" placeholder="Introduce su descripción" required>
    <button type="submit">Añadir Tarea</button>
</form>


<h2>Lista de tareas</h2>
<section>
    {% for user in users%}
    <article>
        <h3>{{loop.index}}. {{user.task_name}} - {{user.task_description}}</h3>
        <form method="POST" action="{{url_for('delete_task', id=user['id'])}}">
            <button type="submit">Eliminar</button>
        </form>
        <form action="{{url_for('edit_task', id=user['id'])}}">
            <button type="submit">Editar</button>
        </form>
    </article>
    {% endfor %}
</section>
{% endblock %}